<!DOCTYPE html>
<html>
  <head>
    <title>Rails Project Merdeka</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <ul>
      <li><%= link_to("Home", "/") %></li>
      <li>Tentang</li>
      <li>Pengumuman</li>
      <li><%= link_to "Artikel", "/articles" %></li>
      <li>Sapa Warga</li>
    </ul>

    <%= yield %>
  </body>
</html>
